<ion-view view-title="Clima">
  <ion-content class="padding">

  	<!--contenedor-->
	<div class="container">
		<!-- introducir el nombre del departamento-->
		<br>
		<div class=" row item item-input-inset">
			<div class="col-80">
				<label class="item-input">
					<!-- ng model para variable temporal-->
					<input type="text" placeholder="Departamento" ng-model="PaisIngresado">
				</label>
			</div>
			<div class="col-20">
				<!--ng-click para llamar a la funcion del controlador-->
				<button class="button button-clear button-light" ng-click="ObtenerClima(PaisIngresado)"><i class="icon ion-search placeholder-icon"></i></button>
			</div>
		</div>
		<br>

		<!--row donde se muestran datos-->
		<div class="row">
			<div class="col">
				<!--div imagen -->
				<div class="container fondoImg">
					<div class="col-60">
						<img src="img/icono.png" class="icono">
					</div>
					<div class="col">
						<h1 class="txtT padding">Weather<span><h4 class="txtT">Guatemala</h4></span></h1>
					</div>

				</div>
				
				<!-- div informacion-->
				<div class="container-fluid divImg padding" ng-repeat="x in Listado">
					<div class="row">
						<div class="col">
							<br>
							<i class="fas fa-map-marker-alt ubicacion"></i>
							{{x.data.city.name}}
							<br>
							<i class="fas fa-cloud-sun-rain ubicacion"></i>
							<b>Clima: </b>{{x.data.list["0"].weather["0"].description}}
							<br>
							<i class="fas fa-cloud ubicacion"></i>
							<b>Nubes: </b>{{x.data.list["0"].clouds.all}}
							<br>
							<i class="fas fa-wind ubicacion"></i>
							<b>Velocidad del Viento: </b>{{x.data.list["0"].wind.speed}}
							<br>
							<i class="fas fa-temperature-low ubicacion"></i>
							<b>Viento en Grados: </b>{{x.data.list["0"].wind.deg}}
							<br>
							<i class="fas fa-tint ubicacion"></i>
							<b>Humedad: </b>{{x.data.list["0"].main.humidity}}
							<br>
							<i class="fas fa-temperature-high ubicacion"></i>
							<b>Temperatura: </b>{{x.data.list["0"].main.temp}}
							<br>
							<i class="fas fa-temperature-high ubicacion"></i>
							<b>Temperatura max: </b>{{x.data.list["0"].main.temp_max}}
							<br>
							<i class="fas fa-temperature-low ubicacion"></i>
							<b>Temperatura min: </b>{{x.data.list["0"].main.temp_min}}
							<br>
							<i class="fas fa-map-marked-alt ubicacion"></i>
							<b>Coordenadas: </b>
							<br>
							<b>Latitud: </b>{{x.data.city.coord.lat}}
							<br>
							<b>Longitud: </b>{{x.data.city.coord.lon}}
							<br>
							<i class="fas fa-users ubicacion"></i>
							<b>Población: </b>{{x.data.city.population}}
							<br>
							<i class="far fa-clock ubicacion"></i><b>  {{x.data.list["0"].dt_txt}}</b>
							<br><br>

						</div>
					</div>
				</div>
				
			</div>
		</div>


	</div>


	
	<!--
	

	<div class="list">
		<label class="item item-input">
			<input type="text" placeholder="Pais" ng-model="PaisIngresado">
		</label>
		<button ng-click="ObtenerClima(PaisIngresado)">Aceptar</button>
	</div>-->
	
  </ion-content>
</ion-view>
